## ADDIDAS ANALISIS

In [ ]:
!wget https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx

--2025-09-10 20:01:21--  https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx [following]
--2025-09-10 20:01:26--  https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 693038 (677K) [application/octet-stream]
Saving to: ‘Adidas US Sales Datasets.xlsx.2’

Adidas US Sales Dat 100%[===================>] 676.79K  --.-KB/s    in 0.05s

2025-09-10 20:01:26 (12.4 MB/s) - ‘Adidas US Sales Datasets.xlsx.2’ saved [693038/693038]

In [ ]:
import pandas as pd
data = pd.read_excel("Adidas US Sales Datasets.xlsx")

In [ ]:
data.head(3)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.00,1200,"600,000.00","300,000.00",0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.00,1000,"500,000.00","150,000.00",0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.00,1000,"400,000.00","140,000.00",0.35,In-store

0. Cuantas filas y columnas tiene la tabla?

In [ ]:
data.shape

(9648, 13)

0.1 Cual es la unidad de observación de la tabla?

En la siguiente tabla encontramos los retails que vende Adidas, los diferentes productos, cantidades, total de venta y el profit

1. Cuales fueron las ventas totales?

In [ ]:
data['Total Sales'].sum()

np.float64(899902125.0)

1.1 Cuanto fue la ganancia operacional total?

In [ ]:
data['Operating Profit'].sum()

np.float64(332134761.45000005)

1.2 Cuanto fue el margen promedio total ?

In [ ]:
data['Operating Margin'].mean()

np.float64(0.42299129353233833)

1.3 Por que el margen promedio y no el total. Explique con palabras

Porque se necesita saber en promedio cuánto es mi margen de ganancia en mi ventas, más no la suma del margen de ganancias, pues no serviria de nada y altetra mi analisis de datos.

2. Cuales fueron las ventas totales por Retailer?

In [ ]:
data.groupby("Retailer")["Total Sales"].sum()

Retailer
Amazon           77,698,912.00
Foot Locker     220,094,720.00
Kohl's          102,114,753.00
Sports Direct   182,470,997.00
Walmart          74,558,410.00
West Gear       242,964,333.00
Name: Total Sales, dtype: float64

2.1 Cual fue la ganancia operacional total por retailer?

In [ ]:
data.groupby("Retailer")["Operating Profit"].sum()

Retailer
Amazon          28,818,503.31
Foot Locker     80,722,124.81
Kohl's          36,811,252.58
Sports Direct   74,332,954.96
Walmart         25,782,052.61
West Gear       85,667,873.18
Name: Operating Profit, dtype: float64

2.3 Tomando los dos resultados de arriba: El ganancia operacional total y las ventas totales divida ambos resultados. Le tiene que dar el margen total de cada Retailer.

In [ ]:
data.groupby("Retailer")["Operating Profit"].sum()/data.groupby("Retailer")["Total Sales"].sum()

Retailer
Amazon          0.37
Foot Locker     0.37
Kohl's          0.36
Sports Direct   0.41
Walmart         0.35
West Gear       0.35
dtype: float64

2.4 Cual fue el margen operacional promedio por retailer?

In [ ]:
data.groupby("Retailer")["Operating Margin"].mean()

Retailer
Amazon          0.42
Foot Locker     0.42
Kohl's          0.42
Sports Direct   0.44
Walmart         0.41
West Gear       0.42
Name: Operating Margin, dtype: float64

2.5 Por que los dos resultados anteriores le dieron diferente? Argumente

Los resultados son diferentes porque la ganancia total mide volumen absoluto de ventas, mientras que el margen promedio mide rentabilidad relativa por transacción. Un retailer puede vender más en total pero con márgenes bajos, y otro vender menos pero con márgenes altos

3.1 Retailer que mas unidades totales vende? Saque cuanto vende en unidades cada retailer y busque el mayor

In [ ]:
unidades_retailer = data.groupby("Retailer")["Units Sold"].sum()
unidades_retailer.sort_values(ascending=False).head(1)

Retailer
West Gear    625262
Name: Units Sold, dtype: int64

3.2 Cual fue el producto que mas unidades totales vendió?

In [ ]:
unidades_producto = data.groupby("Product")["Units Sold"].sum()
unidades_producto.sort_values(ascending=False).head(1)

Product
Men's Street Footwear    593320
Name: Units Sold, dtype: int64

3.3 Cual es el metodo de venta que mas ventas totales tuvo y más ventas promedio

In [ ]:
data.groupby("Sales Method")["Total Sales"].agg(["sum","mean"]).sort_values("sum",ascending=False).head(1)

                        sum       mean
Sales Method
In-store     356,643,750.00 204,967.67

3.4 Cual Fue el estado que más ventas totales tuvo ?

In [ ]:
ventas_estado = data.groupby("State")["Total Sales"].sum()
ventas_estado.sort_values(ascending=False).head(1)

State
New York   64,229,039.00
Name: Total Sales, dtype: float64

4. Teniendo en cuenta los resultados de arriba: 1. Tome el Retailer que vendio
mas 2. El estado que vendio mas 3.el producto que vendio mas y el metodo de ventas que vendio más 4. Filtre y genere un dataframe con ellos 5. llamelo como un nuevo dataframe

In [ ]:

top_retailer = data.groupby("Retailer")["Total Sales"].sum().idxmax()

top_state = data.groupby("State")["Total Sales"].sum().idxmax()

top_product = data.groupby("Product")["Units Sold"].sum().idxmax()

top_method = data.groupby("Sales Method")["Total Sales"].sum().idxmax()

filtros = (
    (data["Retailer"] == top_retailer) &
    (data["State"] == top_state) &
    (data["Product"] == top_product) &
    (data["Sales Method"] == top_method)
)

nuevo_df = data[filtros]
nuevo_df

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
1443,West Gear,1185732,2021-03-08,Northeast,New York,Albany,Men's Street Footwear,45.00,870,"391,500.00","176,175.00",0.45,In-store
1449,West Gear,1185732,2021-04-09,Northeast,New York,Albany,Men's Street Footwear,45.00,825,"371,250.00","167,062.50",0.45,In-store
1455,West Gear,1185732,2021-05-08,Northeast,New York,Albany,Men's Street Footwear,55.00,870,"478,500.00","215,325.00",0.45,In-store
1461,West Gear,1185732,2021-06-10,Northeast,New York,Albany,Men's Street Footwear,60.00,875,"525,000.00","236,250.00",0.45,In-store
1467,West Gear,1185732,2021-07-08,Northeast,New York,Albany,Men's Street Footwear,65.00,950,"617,500.00","277,875.00",0.45,In-store
1473,West Gear,1185732,2021-08-09,Northeast,New York,Albany,Men's Street Footwear,65.00,925,"601,250.00","270,562.50",0.45,In-store
1479,West Gear,1185732,2021-09-08,Northeast,New York,Albany,Men's Street Footwear,55.00,850,"467,500.00","210,375.00",0.45,In-store
1485,West Gear,1185732,2021-10-10,Northeast,New York,Albany,Men's Street Footwear,60.00,800,"480,000.00","216,000.00",0.45,In-store
1491,West Gear,1185732,2021-11-09,Northeast,New York,Albany,Men's Street Footwear,60.00,775,"465,000.00","209,250.00",0.45,In-store
1497,West Gear,1185732,2021-12-08,Northeast,New York,Albany,Men's Street Footwear,65.00,875,"568,750.00","255,937.50",0.45,In-store